.offerContainer {
    display: flex;
    flex-direction: column;
}

.offerMainSlider{
    margin-bottom: 3%;
}

/* Changing the inactive dots' color */
.offerMainSlider li button:before {
    color: var(--secondary-color);
    font-size: 7px;
  }
  
  /* Changing the active dot color */
  .offerMainSlider li.slick-active button:before {
    color: var(--secondary-color) !important;
  }

.offerMainImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ImageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.3rem;
    margin: 2% 3%;
}

.singleImageContainer {
    position: relative;
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.singleImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.guoteBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0;
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
}

.guoteBtn span {
    display: flex;
    margin-top: 3px;
}

.singleImageContainer:hover .guoteBtn {
    opacity: 1;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004e;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}

.singleImageContainer:hover .overlay {
    opacity: 1;
}

.offerSection {
    margin: 3% 0%;
    display: grid;
    grid-template-columns: 60% auto;
}

.offerSectionImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.offerSectionRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offerSectionRight h1 {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    padding: 0% 10%;
}

.offerSectionRight h1 span {
    background-color: var(--secondary-color);
    color: #fff;
}

.offerSectionRight button {
    margin: 5% 0%;
    border: none;
    background-color: #FF7004;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .ImageContainer {
        grid-template-columns: 1fr 1fr;
    }

    .offerSectionRight h1 {
        font-size: 18px;
    }
}

@media (max-width: 650px) {
    .ImageContainer {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .offerMainSlider{
        margin-bottom: 7%;
    }

    .offerSection{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .offerSectionRight h1 {
        font-size: 16px;
    }
}