.footerContainer{

}

.footerTop{
    background-color: var(--primary-color);
    color: #fff;
    padding:4% 6%;
}

.footerLogo{
    object-fit: contain;
    width: 150px;
    height: 100%;
}

.footerContent{
    display: flex;
    justify-content: space-between;
}

.footerLeft{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerLeft p{
    font-size: 13px;
    font-weight: 300;
    margin-top: 3%;
}

.socialIcons{
    display: flex;
    gap: 10px;
}

.socialIcons li{
    list-style: none;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.socialIcons li:hover{
    color: var(--secondary-color);
}

.footerPhone{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.footerMiddle{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerMiddleContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerTitle{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.footerMiddle ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerMiddle ul li{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

.footerMiddle ul li:hover{
    color: var(--secondary-color);
}


.footerRight{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.footerForm{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footerForm input{
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    font-size: 13px;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
}

.footerForm input::placeholder {
    color: #fff;
  }
  

.footerForm button{
    width: max-content;
    outline: none;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 27px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.footerBottom{
    padding: 10px 6%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 750px){
    .footerContent{
        flex-direction: column;
        gap: 1rem;
    }
    .footerPhone{
        width: 100%;
    }
    .footerLeft{
        width: 100%;
    }
    .footerMiddle{
        align-items: flex-start;
    }
    .footerLeft{
        gap: 1rem;
    }
}

/* Privacy And Policy*/

.PPContainer{
    margin: 1% 2%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.PPContainer h1{
    font-size: 22px;
}
.PPContainer h2{
    font-size: 14px;
}
.PPContainer p, .PPContainer li{
    font-size: 13px;
}