.GetQuoteMainWrap {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100vh;
    background: url('../../public/Assets/qouteBackground.webp');
    background-size: cover;
}

.CloseIcon {
    position: absolute;
    right: 2%;
    top: 3%;
    font-size: 20px;
    cursor: pointer;
    z-index: 4;
}

.GetQuoteMainContainer {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 2%;
    background-color: #fff;
    width: 65%;
    height: 75%;
    border-radius: 15px;
    background-size: cover;
}

.GetQuoteStage1 {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.GetQuoteBackgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 2;
}

.GetQuoteStage1 h1 {
    width: 65%;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    z-index: 3;
}

.quoteBtn {
    width: max-content;
    align-self: center;
    background-color: #FF7004;
    border: none;
    color: #fff;
    font-size: 22px;
    padding: 8px 50px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
}

.quoteForm {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8% 10% 2% 8%;
    border-radius: 15px;
}

.quoteMenu {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.quoteMenu label {
    font-size: 15px;
    font-weight: 600;
}

.quoteMenu input {
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1.33px solid var(--desc-color);
    color: var(--desc-color);
    border-radius: 4px;
}

/* Stage 3 styles */

.GetQuoteStage3Wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GetQuoteStage3Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.GetQuoteStage3Content h3 {
    font-weight: 600;
}

.GetQuoteStage3Left {
    font-size: 28px;
}

.GetQuoteStage3Left span {
    cursor: pointer;
}

.GetQuoteStage3 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-content: center;
    align-items: center;
}

.GetQuoteStage3Left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.GetQuoteProducts {
    display: flex;
    gap: 2rem;
    overflow: scroll;
}

.GetQuoteProducts::-webkit-scrollbar {
    display: none;
}

.GetQuoteSingleProduct {
    position: relative;
    margin: 1% 0% 0% 1%;
    min-width: 140px;
    height: 200px;
    text-align: center;
    cursor: pointer;
}

.GetQuoteSingleProduct h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 2%;
}

.GetQuoteImage {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #fff;
}

.GetQuoteImageSelected {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid var(--secondary-color);
}

.slectedProduct {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    padding: 0px 3px;
    color: var(--secondary-color);
}

.slectedProduct span {
    display: inline-block;
    transform: rotate(10deg);
}

@media (max-width: 768px) {
    .GetQuoteMainContainer {
        margin-top: 7%;
        width: 90%;
    }
    .GetQuoteStage1 h1 {
        width: 80%;
        font-size: 24px;
    }
    .quoteForm {
        height: 80%;
    }
    .quoteMenu{
        gap: 4px;
    }
    .quoteBtn {
        font-size: 18px;
    }
    .GetQuoteStage3Content h3{
        text-align: center;
    }
    .GetQuoteProducts {
        gap: 5px;
    }
}