.quoteWrapper{

}

.quoteContainer{
    margin: 2% 0%;
    height: 85vh;
    background-image: url('../../../public/Assets/qouteBackground.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quoteForm{
    background-color: #fff;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 5% 2%; 
    border-radius: 15px;
}

.quoteMenu{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.quoteMenu label{
    font-size: 15px;
    font-weight: 600;
}

.quoteMenu input{
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1.33px solid var(--desc-color );
    color: var(--desc-color );
    border-radius: 4px;
}

.quoteForm button{
    width: max-content;
    align-self: center;
    border: 2px solid #ff7004;
    outline: none;
    background-color: #ff7004;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding: 3px 40px;
    margin-top: 3%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/* .quoteForm button:hover{
    background-color: #fff;
    color:  #ff7004;
} */