.singleProductWrap{
    margin: 4% 2% 2%;
}

.pageTitle{
    display: flex;
    align-items: center;
    gap: 1%;
}

.pageTitle span{
    display: flex;
    font-size: 21px;
}

.pageTitle h2{
    font-size: 28px;
}

.pageContent{
    margin: 4% 3%;
    display: flex;
    flex-direction: column;

}

.pageContent h3{
    font-size: 24px;
    font-weight: 600;
}

.pageContent p{
    margin: 2% 0%;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.ImageContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.3rem;
}

.singleImageContainer{
    position: relative;
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.singleImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.guoteBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0;
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
} 

.guoteBtn span{
    display: flex;
    margin-top: 3px;
}

.singleImageContainer:hover .guoteBtn {
    opacity: 1;
}

.overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004e;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}

.singleImageContainer:hover .overlay {
    opacity: 1;
}

.singlePorductButton{
    margin: 3% 0% 0%;
    align-self: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}